@model ToyForSI.Models.Position

@{
    ViewData["Title"] = "Details";
}

<h2>详细</h2>

<div>
    <h4>列表</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.positionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.positionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.positionAbstract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.positionAbstract)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.positionId">修改</a> |
    <a asp-action="Index">返回列表</a>
</div>
