@model IEnumerable<ToyForSI.Models.Position>

@{
    ViewData["Title"] = "职位列表";
}

<h2>职位列表</h2>

<p>
    <a asp-action="Create">新建职位</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.positionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.positionAbstract)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.positionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.positionAbstract)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.positionId">修改</a> |
                <a asp-action="Details" asp-route-id="@item.positionId">详细</a> |
                <a asp-action="Delete" asp-route-id="@item.positionId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
