@model IEnumerable<ToyForSI.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>科室管理</h2>

<p>
    <a asp-action="Create">新建科室</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.departmentName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Member" asp-action="Index" asp-route-searchDepartment="@item.departmentName">
                @Html.DisplayFor(modelItem => item.departmentName)<span class="badge"> @Html.DisplayFor(modelItem => item.memberCount)</span>
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.departmentId">修改</a> |
                <a asp-action="Details" asp-route-id="@item.departmentId">详细</a> |
                <a asp-action="Delete" asp-route-id="@item.departmentId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
