@model ToyForSI.Models.EquipmentType

@{
    ViewData["Title"] = "详细";
}

<h2>设备类型详细</h2>

<div>
    <h4>设备类型</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipmentTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipmentTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.life)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.life)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.equipmentTypeRemarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipmentTypeRemarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.equipmentTypeId">编辑</a> |
    <a asp-action="Index">返回列表</a>
</div>
