@model ToyForSI.Models.EquipmentType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EquipmentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipmentTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipmentTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.equipmentTypeRemarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipmentTypeRemarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.equipmentTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
