@model IEnumerable<ToyForSI.Models.Device>

@{
    ViewData["Title"] = "设备管理";
}

<h2>设备列表</h2>

<p>
    <a asp-action="Create">新增设备</a>
</p>
<table class="rwd-table table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.siSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inWareHouse)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-th="@Html.DisplayNameFor(model => model.siSN)">
                @Html.DisplayFor(modelItem => item.siSN)
            </td>
            <td data-th=" @Html.DisplayNameFor(model => model.DeviceSummary)">
                @Html.DisplayFor(modelItem => item.DeviceSummary)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.User)">
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.UserDepartment)">
                @Html.DisplayFor(modelItem => item.UserDepartment)
            </td>
            <td data-th="@Html.DisplayNameFor(model => model.inWareHouse)">
                @Html.DisplayFor(modelItem => item.historys.LastOrDefault().deviceStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.deviceId">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.deviceId">详细</a> |
                <a asp-action="Delete" asp-route-id="@item.deviceId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
<pager pager-option="ViewBag.PagerOption as ToyForSI.TagHelpers.MoPagerOption"></pager>
