@model ToyForSI.Models.DevModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DevModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.devModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.devModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brand.brandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.equipmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipmentType.equipmentTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.devModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
