@model ToyForSI.Models.Member

@{
    ViewData["Title"] = "人员详细";
}

<h2>人员详细资料</h2>

<div>
    <h4>人员</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.employeeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.employeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDCard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDCard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department.departmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.position.positionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.memberId">编辑</a> |
    <a asp-action="Index">返回人员列表</a>
</div>
