@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript">
window.onload = function () {
     var departmentPersonCharts = new CanvasJS.Chart("departmentPerson",
            {
                title: {
                    text: "科室人数"
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        legendText: "{indexLabel}",
                        toolTipContent: "{indexLabel} {y}人",
                        dataPoints: @Html.Raw(ViewBag.departmentPersonCount)
		}
		]
	});
    var deviceTypesCountChart = new CanvasJS.Chart("deviceTypes",
	{
		title:{
			text: "设备种类"
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
            toolTipContent: "{indexLabel} {y}台",
			dataPoints: @Html.Raw(ViewBag.deviceTypesCount)
		}
		]
	});
    var deviceBrandCountChart = new CanvasJS.Chart("deviceBrand",
	{
		title:{
			text: "品牌"
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
            toolTipContent: "{indexLabel} {y}台",
			dataPoints: @Html.Raw(ViewBag.deviceBrandCount)
		}
		]
	});
    var deviceGroupByDepartmenCountChart = new CanvasJS.Chart("deviceGroupByDepartment",
	{
		title:{
			text: "科室设备"
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
            toolTipContent: "{indexLabel} {y}台",
			dataPoints: @Html.Raw(ViewBag.deviceGroupByDepartmentCount)
		}
		]
	});
    var deviceGroupByStatusCountChart = new CanvasJS.Chart("deviceGroupByStatus",
	{
		title:{
			text: "设备状态"
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
            toolTipContent: "{indexLabel} {y}台",
			dataPoints: @Html.Raw(ViewBag.deviceGroupByStatusCount)
		}
		]
	});
    departmentPersonCharts.render();
    deviceTypesCountChart.render();
    deviceBrandCountChart.render();
    deviceGroupByDepartmenCountChart.render();
    deviceGroupByStatusCountChart.render();
}
</script>
    <h3>科室</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div id="departmentPerson" style="width:100%; height:300px;"></div>
        </div>
        <div class="col-md-3">
            <div id="deviceGroupByDepartment" style="width:100%; height:300px;"></div>
        </div>
    </div>
    <h3>设备</h3>
    <hr />
    <div  class="row">
        <div class="col-md-3">
            <div id="deviceTypes" style="width:100%; height:300px;"></div>
        </div>
        <div class="col-md-3">
            <div id="deviceBrand" style="width:100%; height:300px;"></div>
        </div>
        <div class="col-md-3">
            <div id="deviceGroupByStatus" style="width:100%; height:300px;"></div>
        </div>
   </div>
