@model ToyForSI.Models.DeviceFlowHistory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceFlowHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fromLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fromLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.toLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.toLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.flowDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.flowDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deviceStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deviceStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device.contractNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.formdepartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.formdepartment.departmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fromMember)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fromMember.employeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.toDepartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.toDepartment.departmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.toMember)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.toMember.employeeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.deviceFlowHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
