@model ToyForSI.Models.DepartmentAttributes

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

<h3 class="alert alert-danger">确定删除该属性？若删科室属性，与其相关的属性记录都将被删除</h3>
<div>
    <h4>科室属性</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.departmentAttributeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departmentAttributeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.departmentAttributeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departmentAttributeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valueLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valueLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valueRegEx)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valueRegEx)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="departmentAttributeId" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回科室属性列表</a>
    </form>
</div>
