@model ToyForSI.Models.DepartmentAttributes

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DepartmentAttributes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.departmentAttributeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departmentAttributeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.departmentAttributeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departmentAttributeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valueLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valueLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valueRegEx)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valueRegEx)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="departmentAttributeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
