@model ToyForSI.Models.DepartmentAttributes

@{
    ViewData["Title"] = "Details";
}

<h2>详细列表</h2>

<div>
    <h4>科室属性</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.departmentAttributeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departmentAttributeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.departmentAttributeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departmentAttributeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valueLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valueLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valueRegEx)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valueRegEx)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.departmentAttributeId">编辑</a> |
    <a asp-action="Index">返回科室属性列表</a>
</div>
