@model IEnumerable<ToyForSI.Models.DepartmentAttributes>

@{
    ViewData["Title"] = "Index";
}

<h2>科室属性</h2>

<p>
    <a asp-action="Create">新建科室属性</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.departmentAttributeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.departmentAttributeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valueLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valueRegEx)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departmentAttributeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departmentAttributeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valueLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valueRegEx)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.departmentAttributeId">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.departmentAttributeId">详细</a> |
                <a asp-action="Delete" asp-route-id="@item.departmentAttributeId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
