@model ToyForSI.Models.Brand

@{
    ViewData["Title"] = "删除品牌";
}

<h2>删除</h2>

<h3>你确定要删除该品牌?</h3>
<div>
    <h4>Brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandServiceHotLine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandServiceHotLine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandLogo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandLogo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="brandId" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
