@model ToyForSI.Models.Brand

@{
    ViewData["Title"] = "详细";
}

<h2>品牌详细</h2>

<div>
    <h4>品牌</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandServiceHotLine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandServiceHotLine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.brandEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.brandLogo)
        </dt>
        <dd>
             <img src="@Html.DisplayFor(model => model.brandLogo)"  style="height:30px;">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.brandId">修改</a> |
    <a asp-action="Index">返回列表</a>
</div>
