@model IEnumerable<ToyForSI.Models.Brand>

@{
    ViewData["Title"] = "品牌列表";
}

<h2>品牌列表</h2>

<p>
    <a asp-action="Create">添加品牌</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.brandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.brandUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.brandServiceHotLine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.brandEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.brandLogo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brandUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brandServiceHotLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brandEmail)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.brandLogo)"  style="height:25px;">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.brandId">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.brandId">详细</a> |
                <a asp-action="Delete" asp-route-id="@item.brandId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
